<div class="question card mb-2 rounded-sm col-sm-4">
  <p><%= @question %><p>
  <p> - You!</p>
</div>
<div class="answer mb-2 card rounded-sm col-sm-4">
  <p><%= @answer %></p>
  <p> - Your coach!</p>
</div>
<%= link_to "Ask another question", ask_path %>
